<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GP Motors - Traslado VTV</title>
  <!-- Favicon -->
  <link rel="icon" href="../assets/logos/car.png" type="image/x-icon" />
  <!-- Style-->
  <link rel="stylesheet" href="../styles/general/pre-load.css" />
  <link rel="stylesheet" href="../styles/tecnico/control-vtv-tecnico.css" />
  <link rel="stylesheet" href="../styles/general/reconocimiento-de-voz.css">
  <!-- Box Icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <title>autos</title>
</head>

<body class="hidden-carga" id="contenido">
  <!-- Pre-load -->
  <div class="centrado" id="preloader">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p class="text-carga">Cargando...</p>
  </div>

  <!-- Sección VTV -->
  <section class="tarjeta-vtv">
    <div class="tarjeta">
      <h3>VTV - Control de Viaje</h3>
      <p class="texto-control">¿Está listo para iniciar el viaje?</p>

      <!-- Solo botón de Iniciar Viaje -->
      <button id="inicio-viaje" class="btn">Iniciar Viaje</button>

      <!-- Área de observaciones y botones de control ocultos inicialmente -->
      <label id="observaciones-vtv" for="observaciones">Observaciones</label>
      <textarea id="comentario" placeholder="Escribe un comentario..." style="display: none;"></textarea>
      <div id="botones-audio-vtv" class="botones-audio">
        <button class="boton-audio" id="btnStart">COMENZAR</button>
        <button class="boton-audio" id="btnStop">DETENER</button>
        <button class="boton-audio" id="btnReset">REINICIAR</button>
      </div>

      <div id="botones-finalizar" style="display: none;">
        <div class="botones-control">
          <button id="guardar-control" class="boton-form">Guardar</button>
          <button id="cancelar-control" class="boton-form">Cancelar</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="../scripts/general/pre-load.js"></script>
  <script src="../scripts/tecnico/control-vtv-tecnico.js"></script>
  <script src="../scripts/general/reconocimiento-de-voz.js"></script>
</body>

</html>