<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GP Motors - Formulario Control</title>
  <!-- Favicon -->
  <link rel="icon" href="../assets/logos/car.png" type="image/x-icon" />
  <!-- Style-->
  <link rel="stylesheet" href="../styles/general/pre-load.css" />
  <link rel="stylesheet" href="../styles/tecnico/formulario-control.css" />
  <link rel="stylesheet" href="../styles/general/reconocimiento-de-voz.css">
  <!-- Box Icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <title>autos</title>
</head>

<body class="hidden-carga" id="contenido">
  <!-- Pre-load -->
  <div class="centrado" id="preloader">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p class="text-carga">Cargando...</p>
  </div>

  <!-- Seccion Formulario Control -->
  <section class="seccion-control">
    <div class="formulario-control">
      <h3 class="texto-control">Formulario de <span class="span-control"> Control</span></h3>
      <div class="qr-container">
        <i class='bx bx-qr-scan'></i>
      </div>
      <div class="boton-qr">
        <a href="./QRFormulario-tecnico.html"><button id="id-boton-escanear" class="boton-escanear">Escanear
            Producto</button></a>
      </div>
      <div class="lista-repuestos" id="lista-repuestos">

      </div>
      <div class="observaciones">
        <label for="observaciones">Observaciones</label>
        <textarea id="observaciones" rows="4" cols="30" placeholder="Escribe tus observaciones aquí..."></textarea>
      </div>
      <div class="botones-audio">
        <button class="boton-audio" id="btnStart">COMENZAR</button>
        <button class="boton-audio" id="btnStop">DETENER</button>
        <button class="boton-audio" id="btnReset">REINICIAR</button>
      </div>
      <div class="boton-element">
        <button class="boton-form" id="guardar-btn">Guardar</button>
        <a href="./auto-tecnico.html"><button class="boton-form" id="cancelar-btn">Cancelar</button></a>
      </div>
    </div>
  </section>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="../scripts/general/pre-load.js"></script>
  <script src="../scripts/tecnico/formulario-control.js"></script>
  <script src="../scripts/general/reconocimiento-de-voz.js"></script>
</body>

</html>