<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GP Motors - Proveedores</title>
  <!-- Favicon -->
  <link rel="icon" href="" type="image/x-icon" />
  <!-- Style-->
  <link rel="stylesheet" href="../styles/general/navbar.css" />
  <link rel="stylesheet" href="../styles/administrador/proveedor-admin.css" />
  <link rel="stylesheet" href="../styles/administrador/popup-cargar-auto.css" />
  <link rel="stylesheet" href="../styles/administrador/carrusel-admin.css" />
  <link rel="stylesheet" href="../styles/administrador/tabla-proveedores.css" />
  <link rel="stylesheet" href="../styles/general/footer.css" />
  <link rel="stylesheet" href="../styles/general/pre-load.css" />
  <!-- Box Icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <!-- Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<body class="hidden-carga" id="contenido">
  <!-- Pre-load -->
  <div class="centrado" id="preloader">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p class="text-carga">Cargando...</p>
  </div>

  <!-- Navbar-->
  <header>
    <div class="logo">
      <a href="./adminInicio.html">
        <img class="navbar-logo" src="../assets/logos/logo.png" alt="">
        GP <span class="nav-span">Motors</span></a>
    </div>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav class="nav-bar">
      <ul>
        <div class="user-info-menu">
          <div class="user-info">
            <img src="../assets/logos/logo-user.png" alt="" class="user-pic" />
            <h3 class="nombre-perfil-sesion">Usuario</h3>
          </div>
        </div>
        <li class="inicio-nav navbar-padding">
          <a href="./adminInicio.html">Inicio</a>
        </li>
        <li class="sesion-nav navbar-padding" id="logout">
          <a href="../index.html">Cerrar Sesión</a>
        </li>
        <li class="close-inicio padding-li"><a href="./adminInicio.html" class="active">Inicio</a></li>
        <img src="../assets/logos/logo-user.png" alt="" class="close-user user-pic" onclick="toggleMenu()"
          id="logo-user" />
      </ul>
      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
          <div class="user-info">
            <img src="../assets/logos/logo-user.png" alt="" class="user-pic" />
            <h3 class="nombre-perfil-sesion">Usuario </h3>
          </div>
          <hr />
          <a href="../index.html" class="sub-menu-link">
            <img src="../assets/logos/logo-log-out.png" alt="logo log-out" class="user-pic-pic" />
            <p>Cerrar Sesión</p>
            <span>></span>
          </a>
        </div>
      </div>
    </nav>
  </header>

  <!-- Seccion Titulo-->
  <section class="seccion-titulo">
    <div class="auto-text">
      <h1 class="texto-titulo">Bienvenido a Su <span>Cuenta</span></h1>
    </div>
  </section>

  <hr class="linea-hr">
  <!-- Seccion Menu Carrusel -->
  <section class="seccion-menu-carrusel">
    <div class="wrapper-carrusel wrapper-carrusel-none">
      <i id="left" class='icon-flecha bx bx-chevron-left'></i>
      <ul class="carrusel">
        <a href="./adminInicio.html" class="sin-decoracion">
          <li class="card-carrusel">
            <div class="img"><i class='bx bx-car' draggable="false"></i></div>
            <h2>Cargar Auto</h2>
          </li>
        </a>
        <a href="./stock-repuestos-admin.html" class="sin-decoracion">
          <li class="card-carrusel">
            <div class="img"><i class='bx bx-cog' draggable="false"></i></div>
            <h2>Stock Repuestos</h2>
          </li>
        </a>
        <a href="./pedidos-admin.html" class="sin-decoracion">
          <li class="card-carrusel">
            <div class="img"><i class='bx bxs-package' draggable="false"></i></div>
            <h2>Pedidos</h2>
          </li>
        </a>
        <a href="./proveedor-admin.html" class="sin-decoracion">
          <li class="card-carrusel">
            <div class="img"><i class='bx bxs-truck' draggable="false"></i></div>
            <h2>Proveedores</h2>
          </li>
        </a>
        <a href="./traslado-concesionaria-admin.html" class="sin-decoracion">
          <li class="card-carrusel">
            <div class="img"><i class='bx bxs-truck' draggable="false"></i></div>
            <h2>Traslado Concesionaria</h2>
          </li>
        </a>
        <li class="card-carrusel">
          <div class="img"><i class='bx bx-user' draggable="false"></i></div>
          <h2>Registro</h2>
        </li>
      </ul>
      <i id="right" class='icon-flecha bx bx-chevron-right'></i>
    </div>
  </section>
  <hr class="linea-hr">

  <!-- Pop up proveedor -->
  <div class="popup-container">
    <div class="popup">
      <div class="close-btn">&times;</div>
      <div class="form">
        <h2>Modificar Proveedor</h2>
        <div class="form-element">
          <label for="proveedor">Nombre Proveedor</label>
          <input type="proveedor" id="proveedor" placeholder="Escribir nombre" required />
          <div class="invalid-feedback" id="nombre-proveedor-feedback"></div>
        </div>
        <div class="form-element">
          <label for="repuesto">Repuesto</label>
          <input type="repuesto" id="repuesto" placeholder="Escribir repuesto" required />
          <div class="invalid-feedback" id="repuesto-feedback"></div>
        </div>
        <div class="form-element">
          <label for="mail">Mail</label>
          <input type="mail" id="mail" placeholder="Escribir mail" required />
          <div class="invalid-feedback" id="mail-feedback">
            Por favor, ingresa un correo válido.
          </div>
        </div>
        <div class="form-element">
          <label for="direccion">Dirección</label>
          <input type="text" id="direccion" placeholder="Ingrese la dirección" required />
          <div class="invalid-feedback" id="direccion-feedback">
            Campo Obligatorio
          </div>
          <div id="sugerencias" class="sugerencias" style="display: none;"></div>
          <!-- <button id="normalizarBtn" type="button">Validar</button>
          <div id="resultados"></div> -->
          <button id="normalizarBtn">Validar</button>
          <div id="resultados" class="resultados"></div>
        </div>

        <div class="form-element">
          <label for="telefono">Teléfono</label>
          <input type="telefono" id="telefono" placeholder="Escribir teléfono" required />
          <div class="invalid-feedback" id="telefono-feedback">
            El teléfono debe contener solo números.
          </div>
        </div>
        <div class="form-element form-div">
          <button id="guardar-btn2" class="btn-form">Guardar</button>
          <button id="cancelar-btn" class="btn-form">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="box-img">
    <a class="editar-margin"><img src="../assets/logos/edit-solid-24.png" alt="" class="user-pic-pic"
        id="edit-icon" /></a>
  </div> -->

  <!-- Seccion Tabla de Controles -->
  <section id="titulo-controles">
    <div class="auto-text">
      <h3 class="control-titulo">Tabla de <span>Proveedores</span></h3>
    </div>
  </section>

  <!-- Seccion Filtro -->
  <section class="seccion-filtro" id="id-filtro">
    <div class="table-header">
      <h1>Filtros</h1>
      <div class="filtros-controles">
        <input type="text" id="filter-id" placeholder="Buscar por ID">
        <input type="text" id="filter-nombre" placeholder="Buscar por Nombre">
        <input type="text" id="filter-repuesto" placeholder="Buscar por Repuesto">
      </div>
    </div>
  </section>

  <!-- Seccion de Controles -->
  <section class="seccion-control" id="section-control">
    <div class="table-control">
      <div class="export_file">
        <label for="export-file" class="export-file-btn" title="Exportar Archivo" id="toggleButton"></label>
        <input type="checkbox" id="export-file">
        <div class="export_file-options" id="id_export_file-options">
          <label>Exportar como &nbsp; &#10140;</label>
          <label for="export-file" id="toPDF" onclick="window.print()">PDF <img src="../assets/logos/PDF.png"
              alt=""></label>
          <label for="export-file" id="toCSV">CSV <img src="../assets/logos/csv.png" alt=""></label>
          <label for="export-file" id="toEXCEL">EXCEL <img src="../assets/logos/excel.png" alt=""></label>
        </div>
      </div>
      <div class="table-body">
        <table id="controlTable">
          <thead>
            <tr>
              <th class="ocultar-columna"> ID </th>
              <th> Nombre </th>
              <th> Repuesto </th>
              <th> Mail </th>
              <th> Teléfono </th>
              <th> Dirección </th>
              <th> Editar </th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td>
                <p>1</p>
              </td>
              <td>
                <p>Ferrari</p>
              </td>
              <td>
                <p>Neumático</p>
              </td>
              <td>
                <p>ferrari@gmail.com</p>
              </td>
              <td>
                <p>159383822</p>
              </td>
              <td>
                <p>Calle Falsa 123</p>
              </td>
              <td>
                <div class="box-img">
                  <a class="editar-margin"><img src="../assets/logos/edit-solid-24.png" alt="" class="user-pic-pic"
                      id="edit-icon" /></a>
                </div>
              </td>
            </tr> -->
          </tbody>
        </table>
        <p id="no-results-message" class="mensaje-no-resultados">No hay resultados</p>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <section class="footer">
    <div class="footer-logo">
      <img class="footer-img" src="../assets/logos/logo.png" alt="">
      <h2>Donde cada viaje comienza</h2>
    </div>
    <div class="footer-container container">
      <div class="footer-box">
        <a href="#" class="logo">GP<span>Motors</span></a>
        <div class="social">
          <a href="" class="footer-i"><i class="bx bxl-facebook"></i></a>
          <a href="" class="footer-i"><i class="bx bxl-twitter"></i></a>
          <a href="" class="footer-i"><i class="bx bxl-instagram"></i></a>
          <a href="" class="footer-i"><i class="bx bxl-youtube"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Copyright -->
  <div class="copytight">
    <p>&#169; Universidad Nacional General Sarmiento</p>
  </div>

  <!-- Scripts -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

  <script src="../scripts/general/navbar.js"></script>
  <script src="../scripts/administrador/carrusel-admin.js"></script>
  <script src="../scripts/administrador/popup-proveedor.js"></script>
  <script src="../scripts/administrador/expresion-regular-proveedor.js"></script>
  <script src="../scripts/administrador/buscador-proveedor.js"></script>
  <script src="../scripts/general/pre-load.js"></script>
  <script src="../scripts/administrador/proveedor-admin.js"></script>
  <script src="../scripts/general/exportar-tabla.js"></script>
  <script src="../scripts/administrador/normalizar-direccion-proveedor.js"></script>

</body>

</html>